**/.pbi/localSettings.json
**/.pbi/cache.abf

Sales & Returns Sample/baseline
Sales & Returns Sample/instance
Sales & Returns Sample/Sales & Returns Sample v201912/
Contoso pbip/baseline
Contoso pbip/instance

__pycache__/
*.pyc